<!DOCTYPE html>
<html lang="en">

@await Component.InvokeAsync("_LayoutHeadPartial")
@await Component.InvokeAsync("_LayoutNavbarPartial")
<body class="index-page">
            @RenderBody()
    @await Component.InvokeAsync("_LayoutFooterPartial")
    @await Component.InvokeAsync("_LayoutScriptsPartial")
</body>

</html>