@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Layout/_Layout.cshtml";
}
<!DOCTYPE html>
<html lang="en">


<body class="index-page">

    @await Component.InvokeAsync("_HomeHeroPartial")

    @await Component.InvokeAsync("_HomeAboutPartial")

    @await Component.InvokeAsync("_HomeCountsPartial")

    @await Component.InvokeAsync("_HomeWhyUsPartial")

    @await Component.InvokeAsync("_HomeFeaturesPartial")

    @await Component.InvokeAsync("_HomeCoursesPartial")

    @await Component.InvokeAsync("_HomeTrainersPartial")

</body>

</html>