@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Layout/_Layout.cshtml";
}

<body>

    <div class="body-wrapper">
        @await Component.InvokeAsync("_AboutUsBreadCrumbPartial")
        <div class="about-us-wrapper pt-60 pb-40">
            <div class="container">
                <div class="row">
                    @await Component.InvokeAsync("_AboutUsTextImagePartial")
                </div>
            </div>
        </div>
        @await Component.InvokeAsync("_AboutUsCounterupAreaPartial")
        @await Component.InvokeAsync("_AboutUsTeamAreaPartial")
    </div>
</body>

