@model UpdateProductDto
@{
    ViewData["Title"] = "UpdateProduct";
    Layout = "~/Views/AdminLayout/_AdminLayout.cshtml";

}
<form method="post" enctype="multipart/form-data" asp-action="UpdateProduct">

    <input type="hidden" asp-for="ProductID" class="form-control" />

    <div>
        <input type="text" asp-for="Title" class="form-control" placeholder="Ürün Adı" />
        <span asp-validation-for="Title" class="text-danger"></span>
    </div>
    <br />

    <div class="form-group">
        <label for="CategoryId">Kategori</label>
        <select id="CategoryId" name="CategoryId" class="form-control">
            @foreach (var category in ViewBag.Categories)
            {
                <option selected value="@category.Id">@category.Name</option>
            }
        </select>
        <span asp-validation-for="CategoryId" class="text-danger"></span>
    </div>
    <br />

    <div>
        <input type="text" asp-for="Description" class="form-control" placeholder="Açıklama" />
        <span asp-validation-for="Description" class="text-danger"></span>
    </div>
    <br />

    <div>
        <input type="number" asp-for="Price" class="form-control" placeholder="Fiyat" />
        <span asp-validation-for="Price" class="text-danger"></span>
    </div>
    <br />

    <div>
        <input type="number" asp-for="DiscountRate" class="form-control" placeholder="İndirim Oranı" />
        <span asp-validation-for="DiscountRate" class="text-danger"></span>
    </div>
    <br />

    <div>
        <input type="text" asp-for="Stock" class="form-control" placeholder="Stok Sayısı" />
        <span asp-validation-for="Stock" class="text-danger"></span>
    </div>
    <br />

    <div>
        <input type="file" asp-for="File" class="form-control" accept=".jpg,.jpeg,.png" placeholder="Fotoğraf" />
        <span asp-validation-for="File" class="text-danger"></span>
    </div>
    <br />

    <div>
        <label for="isActive">Aktif Mi?</label><br>
        <input type="radio" id="isActiveYes" name="isActive" value="true">
        <label for="isActiveYes">Evet</label><br>
        <input type="radio" id="isActiveNo" name="isActive" value="false">
        <label for="isActiveNo">Hayır</label>
    </div>
    <br />

    <button class="btn btn-primary">Ürünü Güncelle</button>
</form>

