   <!-- Begin Featured Product Area -->
<div class="col-lg-4">
    <div class="featured-product pt-sm-10 pt-xs-25">
        <div class="li-section-title">
            <h2>
                <span>Meito</span>
            </h2>
        </div>
        <div class="featured-product-active-2 owl-carousel">
            <div class="featured-product-bundle">
                <div class="row">
                    <div class="group-featured-pro-wrapper">
                        <div class="product-img">
                            <a href="product-details.html">
                                <img alt="" src="images/featured-product/4.jpg">
                            </a>
                        </div>
                        <div class="featured-pro-content">
                            <div class="product-review">
                                <h5 class="manufacturer">
                                    <a href="product-details.html">Studio Design</a>
                                </h5>
                            </div>
                            <div class="rating-box">
                                <ul class="rating">
                                    <li><i class="fa fa-star-o"></i></li>
                                    <li><i class="fa fa-star-o"></i></li>
                                    <li><i class="fa fa-star-o"></i></li>
                                    <li class="no-star"><i class="fa fa-star-o"></i></li>
                                    <li class="no-star"><i class="fa fa-star-o"></i></li>
                                </ul>
                            </div>
                            <h4><a class="featured-product-name" href="single-product.html">Mug Today is a good day</a></h4>
                            <div class="featured-price-box">
                                <span class="new-price">$71.80</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="group-featured-pro-wrapper">
                        <div class="product-img">
                            <a href="product-details.html">
                                <img alt="" src="images/featured-product/5.jpg">
                            </a>
                        </div>
                        <div class="featured-pro-content">
                            <div class="product-review">
                                <h5 class="manufacturer">
                                    <a href="product-details.html">Studio Design</a>
                                </h5>
                            </div>
                            <div class="rating-box">
                                <ul class="rating">
                                    <li><i class="fa fa-star-o"></i></li>
                                    <li><i class="fa fa-star-o"></i></li>
                                    <li><i class="fa fa-star-o"></i></li>
                                    <li class="no-star"><i class="fa fa-star-o"></i></li>
                                    <li class="no-star"><i class="fa fa-star-o"></i></li>
                                </ul>
                            </div>
                            <h4><a class="featured-product-name" href="single-product.html">Mug Today is a good day</a></h4>
                            <div class="featured-price-box">
                                <span class="new-price">$71.80</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="group-featured-pro-wrapper">
                        <div class="product-img">
                            <a href="product-details.html">
                                <img alt="" src="images/featured-product/6.jpg">
                            </a>
                        </div>
                        <div class="featured-pro-content">
                            <div class="product-review">
                                <h5 class="manufacturer">
                                    <a href="product-details.html">Studio Design</a>
                                </h5>
                            </div>
                            <div class="rating-box">
                                <ul class="rating">
                                    <li><i class="fa fa-star-o"></i></li>
                                    <li><i class="fa fa-star-o"></i></li>
                                    <li><i class="fa fa-star-o"></i></li>
                                    <li class="no-star"><i class="fa fa-star-o"></i></li>
                                    <li class="no-star"><i class="fa fa-star-o"></i></li>
                                </ul>
                            </div>
                            <h4><a class="featured-product-name" href="single-product.html">Mug Today is a good day</a></h4>
                            <div class="featured-price-box">
                                <span class="new-price">$71.80</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Featured Product Area End Here -->
<!-- Begin Featured Product Area -->
<div class="col-lg-4">
    <div class="featured-product pt-sm-10 pt-xs-25">
        <div class="li-section-title">
            <h2>
                <span>Sanai</span>
            </h2>
        </div>
        <div class="featured-product-active-2 owl-carousel">
            <div class="featured-product-bundle">
                <div class="row">
                    <div class="group-featured-pro-wrapper">
                        <div class="product-img">
                            <a href="product-details.html">
                                <img alt="" src="images/featured-product/6.jpg">
                            </a>
                        </div>
                        <div class="featured-pro-content">
                            <div class="product-review">
                                <h5 class="manufacturer">
                                    <a href="product-details.html">Studio Design</a>
                                </h5>
                            </div>
                            <div class="rating-box">
                                <ul class="rating">
                                    <li><i class="fa fa-star-o"></i></li>
                                    <li><i class="fa fa-star-o"></i></li>
                                    <li><i class="fa fa-star-o"></i></li>
                                    <li class="no-star"><i class="fa fa-star-o"></i></li>
                                    <li class="no-star"><i class="fa fa-star-o"></i></li>
                                </ul>
                            </div>
                            <h4><a class="featured-product-name" href="single-product.html">Mug Today is a good day</a></h4>
                            <div class="featured-price-box">
                                <span class="new-price">$71.80</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="group-featured-pro-wrapper">
                        <div class="product-img">
                            <a href="product-details.html">
                                <img alt="" src="images/featured-product/4.jpg">
                            </a>
                        </div>
                        <div class="featured-pro-content">
                            <div class="product-review">
                                <h5 class="manufacturer">
                                    <a href="product-details.html">Studio Design</a>
                                </h5>
                            </div>
                            <div class="rating-box">
                                <ul class="rating">
                                    <li><i class="fa fa-star-o"></i></li>
                                    <li><i class="fa fa-star-o"></i></li>
                                    <li><i class="fa fa-star-o"></i></li>
                                    <li class="no-star"><i class="fa fa-star-o"></i></li>
                                    <li class="no-star"><i class="fa fa-star-o"></i></li>
                                </ul>
                            </div>
                            <h4><a class="featured-product-name" href="single-product.html">Mug Today is a good day</a></h4>
                            <div class="featured-price-box">
                                <span class="new-price">$71.80</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="group-featured-pro-wrapper">
                        <div class="product-img">
                            <a href="product-details.html">
                                <img alt="" src="images/featured-product/2.jpg">
                            </a>
                        </div>
                        <div class="featured-pro-content">
                            <div class="product-review">
                                <h5 class="manufacturer">
                                    <a href="product-details.html">Studio Design</a>
                                </h5>
                            </div>
                            <div class="rating-box">
                                <ul class="rating">
                                    <li><i class="fa fa-star-o"></i></li>
                                    <li><i class="fa fa-star-o"></i></li>
                                    <li><i class="fa fa-star-o"></i></li>
                                    <li class="no-star"><i class="fa fa-star-o"></i></li>
                                    <li class="no-star"><i class="fa fa-star-o"></i></li>
                                </ul>
                            </div>
                            <h4><a class="featured-product-name" href="single-product.html">Mug Today is a good day</a></h4>
                            <div class="featured-price-box">
                                <span class="new-price">$71.80</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Featured Product Area End Here -->