@model UpdateCategoryDto
@{
    ViewData["Title"] = "UpdateCategory";
    Layout = "~/Views/AdminLayout/_AdminLayout.cshtml";
}

<form asp-action="UpdateCategory" method="post" enctype="multipart/form-data">
    <input type="hidden" asp-for="Id" class="form-controller" />
    <label>Kategori Adı</label>
    <input type="text" asp-for="Name" class="form-control" />
    <br />
    <label>Açıklama</label>
    <input type="text" asp-for="Description" class="form-control" />
    <br />
    <label>Aktif Mi</label>
    <input type="text" asp-for="IsActive" class="form-control" />
    <br />
    <label>Fotoğraf</label>
    <input type="File" asp-for="File" class="form-control" />
    <br />
    
    <label>Ekleyen Kullanıcı</label>
    <input type="text" asp-for="CreateUser" class="form-control" />
    <br />
    <label>Güncellyen Kullanıcı</label>
    <input type="text" asp-for="UpdateUser" class="form-control" />
    <br />
    <button class="btn btn-primary">Kategori Güncelle</button>
</form>