
@{
    ViewData["Title"] = "UpdateCategory";
    Layout = "~/Views/AdminLayout/_AdminLayout.cshtml";
}

<form asp-action="UpdateCategory" method="post">
    <input type="hidden" asp-fo="ID" class="form-controller" />
    <label>Kategori Adı</label>
    <input type="text" asp-fo="Name" class="form-control" />
    <br />
    <label>Açıklama</label>
    <input type="text" asp-fo="Title" class="form-control" />
    <br />
    <label>Aktif Mi</label>
    <input type="text" asp-fo="SocialMedia1" class="form-control" />
    <br />
    <label>Ekleme Tarihi</label>
    <input type="text" asp-fo="SocialMedia2" class="form-control" />
    <br />
    <label>Güncellenme Tarihi</label>
    <input type="text" asp-fo="SocialMedia3" class="form-control" />
    <br />
    <label>Fotoğraf</label>
    <input type="text" asp-fo="SocialMedia3" class="form-control" />
    <br />
    <label>Kullanıcı</label>
    <input type="text" asp-fo="SocialMedia3" class="form-control" />
    <br />
    <button class="btn btn-primary">Kategori Güncelle</button>
</form>