@model UpdateCategoryDto
@{
    ViewData["Title"] = "UpdateCategory";
    Layout = "~/Views/AdminLayout/_AdminLayout.cshtml";
}

<form method="post" enctype="multipart/form-data">
    <input type="hidden" asp-for="Id" class="form-controller" />
    <div>
        <input type="text" asp-for="Name" class="form-control" placeholder="Kategori Adı" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <br />
    <div>
        <input type="text" asp-for="Description" class="form-control" placeholder="Açıklama" />
        <span asp-validation-for="Description" class="text-danger"></span>

    </div>
    <br />
    <div>
        <input type="file" asp-for="File" class="form-control" accept=".jpg,.jpeg,.png" placeholder="Fotoğraf" />
    </div>
    <br />
    <div>
        <label for="isActive">Aktif Mi?</label><br>
        <input type="radio" id="isActiveYes" name="isActive" value="true">
        <label for="isActiveYes">Evet</label><br>
        <input type="radio" id="isActiveNo" name="isActive" value="false">
        <label for="isActiveNo">Hayır</label>
    </div>
    <br />
    <button class="btn btn-primary">Kategori Ekle</button>
</form>