@model ResultProductDetailWithImage

<div class="col-lg-8">
    <img src="@Model.CoverImage" class="img-fluid" alt="">
    <h3>@Model.ProductInfo</h3>
    <p>
        @Model.Description
    </p>
</div>
