@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Layout/_Layout.cshtml";
}
<body>

    @await Component.InvokeAsync("_ShopBreadcrumbPartial")

    @await Component.InvokeAsync("_ShopContentWraperPartial")

</body>


