<header id="header" class="header d-flex align-items-center sticky-top">
    <div class="container-fluid container-xl position-relative d-flex align-items-center">

        <a href="index.html" class="logo d-flex align-items-center me-auto">
            <!-- Uncomment the line below if you also wish to use an image logo -->
            <!-- <img src="assets/img/logo.png" alt=""> -->
            <h1 class="sitename">Mentor</h1>
        </a>

        <nav id="navmenu" class="navmenu">
            <ul>
                <li class="nav-item">
                    <a class="nav-link" class="active" asp-controller="Home" asp-action="Index">Home</a>
                </li>

                <li class="nav-item">
                    <a  class="nav-link" asp-controller="About" asp-action="Index">About</a>
                </li> 

                <li class="nav-item">
                    <a class="nav-link" asp-controller="Courses" asp-action="Index">Courses</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" asp-controller="Contact" asp-action="Index">Contact</a>
                </li>

            </ul>
            <i class="mobile-nav-toggle d-xl-none bi bi-list"></i>
        </nav>

        <a class="btn-getstarted" asp-controller="Courses" asp-action="Index">Get Started</a>

    </div>
</header>